body,
html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#clock {
    font-size: 10em;
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: 80%;
}

input {
    background: none;
    appearance: none;
    outline: none;
    border: 0;
    font-size: 36px;
    color: white;
    border-bottom: 2px solid white;
}

input::placeholder {
    color: white;
    text-align: center;
}

#login-form {
    margin-bottom: 20px;
    margin-top: 10px;
}

#greeting {
    font-size: 36px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

#todo-form {
    margin-top: 50px;
}

#todo-form input {
    font-size: 20px;
}

button {
    border: 0;
    background-color: transparent;
}

#weather {
    opacity: 0.7;
    transition: opacity 0.3s ease-in;
    font-style: italic;
    font-size: 12px;
    position: absolute;
    top: 25px;
    right: 25px;
}

#weather:hover {
    opacity: 1;
}

#quote {
    opacity: 0.7;
    font-style: italic;
    font-size: 12px;
    position: absolute;
    bottom: 25px;
    left: 25px;
}

#quote:hover {
    opacity: 1;
}